@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');




.homepage {
  font-family: 'Fredoka', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  w
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.homepage * {
  box-sizing: border-box;
}

.homepage .container {
  width: 950px;
  height: 520px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
}

.homepage .container:hover {
  transform: scale(1.01);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

.homepage .left-panel,
.homepage .right-panel {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.homepage .left-panel {
    background: linear-gradient(135deg,#0a2d42, #1a2b49, #26566b);
  color: white;
  text-align: left;
}

.homepage .left-panel h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  animation: bounceIn 2s ease;
  text-shadow: 2px 2px #00000044;
}

@keyframes bounceIn {
  0% { transform: scale(0.7); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
.homepage .right-panel{
    background: linear-gradient(135deg,#336c84, #41577e, #0f2a38);
}
.homepage .right-panel h2,
.homepage .right-panel h3 {
  color: #ede5e5;
  margin-bottom: 8px;
  text-align: center;
  
  
}

.homepage .LoginButton-button,
.homepage .RegisterButton-button {
  background: #0b3c57;
  color: rgb(245, 245, 245);
  border: none;
  padding: 16px 28px;
  font-size: 1.1rem;
  border-radius: 12px;
  margin: 20px auto;
  cursor: pointer;
  width: 70%;
  display: block;
  box-shadow: 0 0 12px rgba(50, 36, 26, 0.4);
  transition: all 0.4s ease;
}

.homepage .RegisterButton-button {
  background: #2a2e30;
  box-shadow: 0 0 12px rgba(13, 17, 15, 0.4);
}

.homepage .LoginButton-button:hover,
.homepage .RegisterButton-button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(127, 42, 42, 0.25), 0 0 20px currentColor;
}

.homepage footer {
  position: absolute;
  bottom: 15px;
  font-size: 0.85rem;
  color: #777;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
